extends layout.pug

block content
	.portfolio-intro
		h1 Welcome to My Developer Portfolio
		p This portfolio showcases my projects spanning fullstack web development with technologies including JavaScript, HTML, CSS, Node.js, Express, and various APIs. Each project demonstrates different coding skills, from frontend interactivity to backend integration and database management.

	.portfolio-project-wrapper
		.portfolio-container
			each project in projects
				.cell
					a(href=`/project/${project.id}`)
						img.thumbnail(src=`/static${project.image_urls[0]}`, alt=`${project.project_name}`)
						h2= project.project_name
						p.technology-list
							each tech, index in project.technologies
								span.tech-tag= tech
								if index < project.technologies.length - 1
									| · 
